* {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  padding: 0;
  margin: 0 auto;
  max-width: 730px;
  background: #f6f8ff;
}

.container {
  margin-top: 144px;
}

.header {
  display: flex;
  gap: 524px;
  margin-bottom: 35px;
}

.bright-dark-text {
  color: #697c9a;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2.5px;
  cursor: pointer;
}

.bright-dark-text:hover {
  color: #222731;
}

.bright-dark-box {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;
}

.bright-dark-box:hover .bright-dark-text {
  color: #222731;
}

.bright-dark-box .bright-dark-moon-img {
  display: none;
}

.bright-dark-box:hover .bright-dark-img {
  display: none;
}

.bright-dark-box:hover .bright-dark-moon-img {
  display: block;
}

.user-search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  border-radius: 15px;
  background: #fefefe;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  padding: 22px 10px 22px 32px;

  cursor: pointer;
}

.user-search-box {
  display: flex;
  justify-content: center;
}

.user-search-button {
  display: flex;
  align-items: center;
}

.search-button:hover {
  background: #60abff;
}

.no-result-active {
  width: 100px;
  margin-right: 24px;

  color: #f74646;
  font-size: 15px;
  font-weight: 700;
}

.no-result-hidden {
  display: none;
}

.user-search-bar__input {
  margin-left: 24px;
  width: 254px;
  height: 25px;
  border: none;
  outline: none;

  color: #4b6a9b;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
}

.search-button {
  border: none;
  padding: 12.5px 23px 13.5px 24px;

  border-radius: 10px;
  background: #0079ff;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.left-side__img {
  border-radius: 50%;
  width: 117px;
  height: 117px;
}

.content {
  border-radius: 15px;
  background: #fefefe;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  padding: 44px 48px 48px 48px;
}

.user-info-header {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-bottom: 32px;
}

.user-info__left-side {
  display: flex;
  gap: 37px;
}

.left-side__user-names {
  display: flex;
  flex-direction: column;
}

.user-name {
  color: #2b3442;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 2px;
}

.nickname {
  color: #0079ff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.user-bio {
  color: #4b6a9b;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  width: 480px;
}

.when-user-joined {
  position: absolute;
  top: 0;
  right: 0;
  color: #697c9a;
  font-size: 15px;
  font-weight: 400;
}

.user-info-middle {
  max-width: 480px;
  margin-left: 150px;
}

.user-follow-infos {
  display: flex;
  justify-content: space-between;
  padding: 15px 83px 17px 32px;
  margin-bottom: 37px;

  border-radius: 10px;
  background: #f6f8ff;
}

.user-follow-infos__repos {
  display: flex;
  flex-direction: column;
}

.user-follow-infos__followers {
  display: flex;
  flex-direction: column;
}

.user-follow-infos__following {
  display: flex;
  flex-direction: column;
}

.user-follow-infos__text {
  color: #4b6a9b;
  font-size: 13px;
  font-weight: 400;
}

.user-follow-infos__number-repos {
  color: #2b3442;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.user-follow-infos__number-followers {
  color: #2b3442;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.user-follow-infos__number-following {
  color: #2b3442;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

.user-contact-info-box {
  display: flex;
  flex-wrap: wrap;
}

.user-contact-location {
  margin-right: 80px;
  margin-bottom: 19px;
}

.user-contact-website {
  margin-right: 20px;
}

.user-contact-text-location {
  color: #4b6a9b;
  font-size: 15px;
  font-weight: 400;
}

.user-contact-text-twitter {
  color: #4b6a9b;
  font-size: 15px;
  font-weight: 400;
}

.user-contact-text-website {
  color: #4b6a9b;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
}

.user-contact-text-website:hover {
  text-decoration: underline;
}

.user-contact-text-company {
  color: #4b6a9b;
  font-size: 15px;
  font-weight: 400;
}

.active {
  color: #4b6a9b;
  font-size: 15px;
  font-weight: 400;
  opacity: 0.5;
}

.active-img {
  opacity: 0.5;
}
